@model Restaurante.Models.Pedidos.Pedido
@using Restaurante.Enums.Prato;
@using Restaurante.Enums.Bebida;    
@using Restaurante.Enums.Mesa;

<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
                
                <div class="section-title">
                    <p class="text-center m-4">Orders</p>
                </div>

                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <form asp-action="FazerPedido" method="post">
                                <div class="form-group row m-3">
                                    <label asp-for="Pratos" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <select asp-for="Pratos" class="form-control">
                                            @foreach (var prato in Restaurante.Enums.Prato.Prato.pratos)
                                            {
                                                <option value="@prato">@prato</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row m-3">
                                    <label asp-for="Bebida" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <select asp-for="Bebida" class="form-control">
                                            @foreach (var bebida in Restaurante.Enums.Bebida.Bebidas.bebidas)
                                            {
                                                <option value="@bebida">@bebida</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row m-3">
                                    <label asp-for="Quantidade" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="Quantidade" min="1" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row m-3">
                                    <label asp-for="Mesa" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <select asp-for="Mesa" class="form-control">
                                            @foreach (var mesa in Restaurante.Enums.Mesa.Mesas.mesas)
                                            {
                                                <option value="@mesa">@mesa</option>
                                            }
                                        </select>

                                        
                                    </div>
                                </div>
                                <div class="form-group row m-3">
                                    <label asp-for="NomeSolicitante" class="col-sm-3 col-form-label">Nome Solicitante</label>
                                    <div class="col-sm-9">
                                        <input asp-for="NomeSolicitante" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 text-end mt-4">
                                        <button class="btn btn-outline-warning" type="submit">Fazer Pedido</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>
